<nav class="site-nav">
    <a href="/">Home</a>
    <a href="/searchid">SearchById</a>
    <a href="/searchname">SearchByName</a>
    <a href="/viewData">View ALL Data</a>
    <a href="/viewDataclean">Clean Data</a>
    <a href="/viewDataprice">Price Filter</a>
    <a href="/add-property">Add New Property</a>
    <!-- Add more links here as needed -->
</nav>
