<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <header class="site-header">
    <div class="header-left">
        <span class="site-logo">Aanand</span><br>
        <span class="site-id">Student ID: N01712678</span>
    </div>
    <div class="header-right">
        {{> navbar }}
    </div>
</header>  
    <main class="content">
        {{{body}}}
    </main>
    <footer class="site-footer">
        <p>Contact: aanandsaini968@gmail.com</p>
    </footer>
</body>
</html>
